.navbar {
    list-style: none;
}
.navbar li {
    display: inline;
    font-size: 30px;
    padding: 0 0 0 30px;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px  20px;
}
h1 {
    text-align: center;
}
.still-Cheese {
    width: 500px;
    height: 500px;
}
#main-section {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
#carousels {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    width: 150%;
}

footer {

}