*{
  font-family: 'Inter', sans-serif;
    /* add     
 <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    in each html page, in your head tag, on top of all CSS links, as the font needs to be downloaded before CSS files are loaded   */
}

h1{
    font-weight: 800;
}

.navbar {
  list-style: none;
}
.navbar li {
  display: inline;
  font-size: 30px;
  padding: 0 0 0 30px;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding: 30px  30px;
}