
.carousel img {
    width: 100%;
  }
  body {
    background-color:  #ffe79a;
    text-align: center;
    color: #352103;
    font-family: 'Playfair Display', serif;
  }
  h1 {
    font-size: calc(5px + 3vw);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
  }
  #main-canvas {
    width: 95%;
    margin-bottom: 5px;
  }
  #blog-carousel,
  #cheese-carousel {
    margin-top: 50px;
  }