body {
  background-color:  #ffe79a;
}

.card {
  margin: 20px 0px 50px 0px;
  background-color: #FFF9D8;
}

.blog-post-background{
  background-color: #FFF9D8;
  /* background-color: #fffef0; */
  border-radius: 5px;
}

h5,
.card-text,
.date {
  text-align: center;
}

.card-title {
  margin-bottom: 5px;
  font-weight: 600;
}

.blog-title {
  font-size: calc(10px + 3vw);
  font-family: 'Playfair Display', serif;
}

/* start of style for links in blog */
.blog-link {
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* unvisited link */
.blog-link:link {
  color: #212529;
}

/* mouse over link */
.blog-link:hover {
  color: grey;
}

/* visited link */
.blog-link:visited {
  color: #212529;
}
/* end of style for links in blog */

/* start of style for links in blog homepage */
/* unvisited link */
.blog-home-link:link {
  color: #212529;
  transition: all .5s ease;
}

/* mouse over link */
.blog-home-link:hover {
  text-decoration: none;
  background-color:  #ffe79a;
  box-shadow: 0 0 20px #000;
}
.card-body:hover {
  /* background-color: rgb(241, 236, 236); */
  background-color:  #ffe79a;
  box-shadow: 0 0 20px #000;
} 

/* visited link */
.blog-home-link:visited {
  color: #212529;
}
/* end of style for links in blog homepage */

.w-100 {
  padding: 10px;
}

.w-100:hover {
  cursor: pointer;
}

.d-block,
.modal-body,
.close-button {
  padding: 1px;
  background-color: rgb(224, 224, 224);
}

.blog-content {
  line-height: 28px;
  text-align: justify;
}

.blog-title{
  padding-top:20px;
}

#gallery{
  padding: 0px 24px 50px 24px;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
.blog-title {
  font-size: calc(10px + 5vw);
  text-align: center;
}

.blog-subtitle {
  font-size: calc(5px + 3vw);
  text-align: center;
}

#gallery {
  margin-bottom: 50px;
  justify-content: center;
}

.modal-dialog {
  max-width: 90vw;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .blog-title {
    font-size: calc(10px + 4.5vw);
    text-align: center;
  }

  .blog-subtitle {
    font-size: calc(5px + 2.5vw);
    text-align: center;
  }

  #gallery {
    margin-bottom: 100px;
    justify-content: left;
  }
  .modal-dialog {
    max-width: 60vw;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .blog-title {
    font-size: calc(10px + 4vw);
    text-align: center;
  }

  .blog-subtitle {
    font-size: calc(5px + 2vw);
    text-align: center;
  }

  #gallery {
    margin-bottom: 100px;
    justify-content: center;
  }

  .modal-dialog {
    max-width: 60vw;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .blog-title {
    font-size: calc(10px + 3.5vw);
    text-align: center;
  }

  .blog-subtitle {
    font-size: calc(5px + 1.5vw);
    text-align: center;
  }

  #gallery {
    margin-bottom: 100px;
    justify-content: center;
  }

  .modal-dialog {
    max-width: 60vw;
  }
}
