body {
    margin: 0;
    padding: 0;
    background-color:  #ffe79a ;
}

main {
    margin: auto;
    width: 1280px;
}

textarea {
    color: #352103;
}

section { 
    width: 100%;
   
    display: flex ;
}


h1 {
    font-size: 64px;   
    color: #352103;
    margin-top: 0px;
    margin-bottom: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.smallSeparator{
    width: 160px;
    height: 1px;
    background-color: #352103;
    margin-bottom: 40px;
}

#info-sheet { 
    background-color: #FFFFFF;
}

.cheese-image {
    width: 50%;
}

.cheese-image figure {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
}

.cheese-image img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.cheese-image figure figcaption {
    font-size: 9px;
    color: #fffef0;
    padding: 6px 8px 6px 8px;
    background-color: #352103;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cheese-info {
    width: 50%;
    margin: 0;
    padding: 32px;
    box-sizing: border-box;
}

.cheese-info ul {
    list-style: none;
    padding: 0;
}

.cheese-info ul li{
    margin: 16px 0px 16px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cheese-info ul li p {
    margin: 0;
    color: #352103;
    font-weight: 200;
    font-size: 16px;
}

.cheese-info ul li img {
    margin-right: 10px;
}

.cheese-info ul li p strong {
    
    padding: 0px 4px 0px 0px;
    color: #ad8508;
    font-weight: 200;
}

.cheese-info ul li p a.infoLink {
    text-decoration: none;
    color: #352103;
    background-color:#fff9e4;
    border-bottom: 1px dotted #352103;
}

.cheese-info ul li p a.infoLink:hover {
    opacity: 0.8;
}

#text {
   float: left;
   background-color: #fff9e4;
   display: flex;
   flex-direction: column;
}

.textWrapper {
    padding: 0px 160px 0px 160px;
    margin: 48px 0px 48px 0px;

}

.imageGallery {
    width: 100%;
    padding: 0px 160px 0px 160px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-bottom: 48px;
}

.thumb {
    width: 25%;
    height: 256px;
    margin: 0px 12px 0px 12px;
    overflow: hidden;
    text-align: center;
}

.thumb:first-child {
    margin-left: 0px;
}

.thumb:last-child {
    margin-right: 0px;
}

 .thumb img {
    height: 100%;
    margin: -100%;
    opacity: 0.8;
    vertical-align: bottom;
 }

.thumb a img:hover {
     opacity: 1.0;
 }

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 235px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(245,249,228,0.9);
  }

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #352103;
    font-size: 80px;

    transition: 0.3s;
  }
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

.textWrapper p {
    font-size: 19px;
    font-weight: 200;
    line-height: 27px;
    margin: 0px 0px 32px 0px;
    color: #352103;
}

#reviews {
    padding: 0px 160px 0px 160px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: whitesmoke;
}

.review-title {
    width: 100%;
}

.review-title h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 28px;
    margin-top: 32px;
    color: #352103;
}

.rating-wrapper{
    width: 100%;
    display: flex;
}

.rating-icons {
    display:flex;
    flex-direction: row;
}

.rating-icons a{
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-image: 
        url("/images/star_big_stroke.png");
    text-decoration: none;
}

.rating-icons a:hover{
    background-image: 
        url("/images/star_big_fill.png");
}

.rating-icons img{
    width: 100%;
}

.review-form-wrapper {
    width: 100%;
    
}

.review-form {
    width: 100%;
    padding-bottom: 48px;
    border-bottom: solid 0.5px #352103;
}

.review-form textarea {
    width: 100%;
    height: 240px;
    margin: 32px 0px 16px 0px;
    border: none;
    box-sizing: border-box;
    padding: 16px;
    color: #352103;
    font-weight: 200;
    font-size: 19px;
    line-height: 27px;
    resize: none;
}

textarea::placeholder {
    color: #ad8508;
  }

.buttonWrapper {
    text-align: right;
}

input {
    padding: 12px 24px 12px 24px;
    background-color: #ffe79a;
    color: #352103;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 8px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 8px -4px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 8px -4px rgba(0,0,0,0.3);
}

input:hover {
    background-color:#ad8508;
}

.reviewsWrapper {
    width: 100%;
    display: flex;
}

.reviewsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.reviewWrapper{
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px 0px 24px 0px;
    border-bottom: solid 1px #ad8508;
}

.userInfoWrapper{

 margin-right: 32px;
 width: 160px;
 text-align: center;

}

.smallProfilePic {

    flex-direction: column;
}

.smallProfilePic figure {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: dimgray;
    margin: auto;
    overflow: hidden;
}

.smallProfilePic img{
    width: 100%;
}

.smallProfilePic .userName {
    margin: 12px 0px 12px 0px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    
}

.userReview {
    width: -webkit-fill-available;
}

.smallRatingIcons {
    display:flex;

}

.smallRatingIcons a {
    display: block;
    width: 16px;
    padding-right: 8px;
}

.smallRatingIcons img{
    width: 100%;
}

.reviewTextWrapper {
    float: left;;
}

.reviewTextWrapper p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 200;
    font-style: italic;
}

span.reviewDate{
    font-size: 12px;
    color: #ad8508;
    font-weight: 200;
}

footer{
    width: 100%;
}


@media only screen and (max-width: 1280px) {
    main {
      width: 100%;
    }
  }


  @media only screen and (max-width: 960px) {
    .cheese-image {
      width: 100%;
      display: grid;
    }

    .cheese-image figure {
        height: 500px;
        overflow: hidden;
    }

    .cheese-image img {
        position: relative;
        
    }
    .cheese-info {
        width: 100%;
        padding: 32px 80px 32px 80px;
        display: grid;
    }

    section#info-sheet {
        display: block;
    }

    .textWrapper {
        padding: 0px 80px 0px 80px;
    }

    .imageGallery {
        padding: 0px 80px 0px 80px;
    }

    #reviews {
        padding: 0px 80px 0px 80px;
    }

  }

  @media only screen and (max-width: 768px) {

    h1 {
        font-size: 56px;
    }

    .cheese-image figure {
        height: 400px;
    }

    .cheese-image img {
        height: auto;
    }

    .cheese-info {
        padding: 32px 48px 32px 48px;
    }
    
    .textWrapper {
        padding: 0px 48px 0px 48px;
        margin-bottom: 16px;
    }

    .imageGallery{
        padding: 0px 48px 0px 48px;
        flex-wrap: wrap;
    }
    
    .thumb {
      width: 33.3%;
      height: 240px;
      padding-bottom: 24px;

    }

    .thumb:nth-child(4){
        margin-left: 0px;
    }

    #reviews {
        padding: 0px 48px 0px 48px;
    }

  }


@media only screen and (max-width: 414px) {
    
    h1 {
        font-size: 40px;
        margin-top: 24px;
    }

    .review-title h3 {
        font-size: 22px;
    }

    .cheese-image figure {
        height: 320px;
    }

    .cheese-info {
        padding: 0px 24px 0px 24px;
    }

    .smallSeparator {
        margin-bottom: 16px;
    }

    .textWrapper {
        padding: 0px 24px 0px 24px;
    }


    .textWrapper p {
        font-size: 17px;
        line-height: 24px;
    }



    .imageGallery {
        padding: 0px 24px 0px 24px;
    }

    .thumb {
        width: 100%;
        margin: 0px 0px 24px 0px;
        padding: 0px;
        height: auto;
    }

    .thumb:last-child{
        margin-bottom: 0px;
    }

    .thumb img{
        margin: 0;
        width: 100%;
        height: auto;
    }

    #reviews {
        padding: 0px 24px 0px 24px;
    }

    .reviewWrapper {
        display: flex;
        flex-direction: column;
    }

    .review-form textarea {
        font-size: 17px;
    }

    .userInfoWrapper {
        width: 100%;
        margin: 0px 0px 16px 0px;
        display: flex;
        flex-direction: row;
        
    }

    .smallProfilePic {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .smallProfilePic figure {
        width: 64px;
        height: 64px;
        margin: 0px 12px 0px 0px;
    }

    .smallProfilePic .userName {
        font-size: 14px;
        margin: 0px;
    }

    .reviewTextWrapper p {
        margin-top: 12px;
        font-size: 14px;
        line-height: 23px;
    }

}