@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;

}

* {
	box-sizing: border-box;
}

.team-section {
	background-color: #009688;
	min-height: 100vh;
	padding: 70px 15px 30px;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}



.team-section .section-title {
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}

.team-section .section-title h1 {
	font-size: 40px;
	text-align: center;
	margin: 0;
	margin-bottom: 68px;
	color: #ffffff;
	font-weight: 700;
}

.team-section .section-title {
	font-size: 16px;
	text-align: center;
	margin: 15px 0 0;
	color: #ffffff;
}

.team-section .team-items {

	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.team-section .team-items .item {
	flex-basis: calc(25% - 30px);
	max-width: calc(25% - 30px);
	transition: all .5s ease;
	margin-bottom: 40px;
}

.team-section .team-items .item img {
	display: block;
	width: 100%;
	/* height: 300px; */
	border-radius: 8px;
}

.team-section .team-items .item .inner {
	position: relative;
	z-index: 11;
	padding: 0 15px;
}

.team-section .team-items .item .inner .info {
	background-color: #009688;
	text-align: center;
	padding: 20px 15px;
	border-radius: 8px;
	transition: all .5s ease;
	margin-top: -40px;
}



.team-section .team-items .item:hover .info {
	transform: translateY(-20px);
}

.team-section .team-items .item:hover {
	transform: translateY(-10px);
}

.team-section .team-items .item .inner .info h5 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
}

.team-section .team-items .item .inner .info {
	font-size: 16px;
	font-weight: 400;
	color: #c5c5c5;
	margin: 10px 0 0;
}

.team-section .team-items .item .inner .info .social-links {
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a {
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	color: #009688;
	border-radius: 50%;
	margin: 0 2px;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover {
	box-shadow: 0 0 10px #000;
}



/* Input form*/
.container {
	width: 90%;
	margin: auto;
	overflow: hidden;
}

.contact-section {
	background: linear-gradient(rgba(0, 0, 0, 0.6)rgba(0, 0, 0, 0.9));
	background-image: url(../img/img-contact/mads-schmidt-rasmussen-6YmzwamGzCg-unsplash.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	padding-bottom: 2%;


}

.contact-section .container h2 {
	text-align: center;
	text-decoration: underline;
	text-underline-position: under;
	color: #5E6472;
	letter-spacing: 2px;
	margin-top: 35px;
}

.contact-section .container p {
	text-align: center;
	color: #5E6472;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3%;
	letter-spacing: 3px;

}

.contact-form i.fa {
	font-size: 22px;
	padding: 3%;
	/* border-radius: 80%; */
	background-color: none;
	margin: 2%;
	cursor: pointer;
	/* border: 2px solid rgb(190, 190, 190); */
	color: #5E6472;
}

.contact-form i.fa:hover {
	cursor: pointer;
	/* border: 2px solid #fff; */
	color: #000;
}

.contact-form {
	display: grid;
	grid-template-columns: auto auto;

}

.form-info {

	font-size: 16px;
	font-style: italic;
	color: #5E6472;
	letter-spacing: 2px;

}

.contact-items {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

form {
	margin-top: 20px;
	margin-right: -99px;
	margin-left: 140px;
}


input {
	padding: 10px;
	margin: 10px;
	width: 70%;
	background-color: #5E6472;
	border: none;
	outline: none;
}

input::placeholder {
	color: #fff;
}


textarea {
	padding: 10px;
	margin: 10px;
	width: 70%;
	background-color: #5E6472;
	border: none;
	outline: none;

}

textarea::placeholder {
	color: #fff;
}

.submit {
	width: 40%;
	background: #5E6472;
	padding: 4px;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 33px;
	text-align: center;
	cursor: pointer;
	margin-left: 2px;
	margin-left: 31%;
	/* border: 2px solid rgb(190, 190, 190); */
	color: #fff;
	border: none;
}

.submit:hover {
	border: 1px solid #000;
	color: #fff;
	cursor: pointer;
}


/*responsive*/
@media(max-width: 1200px) {
	.contact-section {
		height: 100%;
	}

	.team-section .team-items .item .inner .info h5 {
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 1px;
		font-style: italic;
	}

	.container {
		padding-top: 35px;
	}
}

@media(max-width: 991px) {
	.team-section .team-items .item {
		flex-basis: calc(50% - 30px);
		max-width: calc(50% - 30px);

	}
}

@media(max-width: 767px) {
	.team-section .team-items .item {
		flex-basis: calc(100%);
		max-width: calc(100%);


	}

	.contact-section .contact-form {
		display: block;
		width: 100%;
		text-align: center;
	}

	.contact-section .submit {
		width: 40%;
		font-size: 10px;
		margin-bottom: 15px;

	}

	form {
		margin-left: 20px;
		margin-top: 25px;
	}

	form .submit {
		margin: 0 auto;
	}

	.form-info {
		font-size: 14px;
	}

	.submit:hover {
		font-size: 9px;
	}

	p {
		display: none;
	}
}

/* 
@media (max-width: 770px) {
	.contact-section .contact-form {
		display: block;
		width: 100%;
		text-align: center;
	}

	.contact-section .submit {
		width: 40%;
		font-size: 10px;

	}

	form {
		margin-left: 20px;
	}

} */

/* @media (max-width:400px) {
	.contact-section .submit {
		width: 49%;
		margin-left: 9px;
		font-size: 12px;
	}


} */