body {
    background-color:  #ffe79a;
    text-align: center;
  }

h1 {
    font-size: calc(10px + 3vw);
    color: #352103;
    font-family: 'Playfair Display', serif;
}
#main-image {
    width: 100%;
    margin: 20px;
    margin-bottom: 40px;
}
.carousel {
    height: 350px;
    width: 350px;
    margin-top: 40 px;
}
.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}
.carousel-inner,
.carousel-item {
  text-align: center;
}