body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0px 72px 0px 72px;
}

strong {
    font-weight: 800;
}

textarea {
    color: black;
}


h1 {
    font-size: 64px;   
    margin-top: 0px;
    margin-bottom: 32px;
}

.cheese-image {
    width: 50%;
    margin: 0;  
    float: left;
    padding: 16px;
    box-sizing: border-box;
}

.cheese-image figure {
    margin: 0;
}

.cheese-image figure img {
    width: 100%;
}

.cheese-image figure figcaption {
    font-size: 10px;
}

.cheese-info {
    width: 50%;
    margin: 0;
    float: left;
    padding: 16px;
    box-sizing: border-box;
}

.cheese-info ul {
    list-style: none;
    padding: 0;
}

.cheese-info ul li{
    margin: 12px 0px 12px 0px;
}

.cheese-info ul li p {
    margin: 0;

}

.cheese-info ul li p strong {
    font-weight: 700;
    padding: 0px 12px 0px 0px;
}



#text {
    float: left;
}

#reviews {
    float: left;
}

footer{
    float: left;
    width: 100%;
}