@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
	margin: 0;
	font-family: 'Playfair Display', serif;
}

* {
	box-sizing: border-box;
}

.team-section {
	background-color: #FFE79A;
	min-height: 100vh;
	padding: 70px 15px 30px;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.team-section .section-title {
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}

.team-section .section-title h1 {
	font-size: 40px;
	text-align: center;
	margin: 0;
	color: #352103;
	font-weight: 700;
}

.team-section .section-title p {
	font-size: 16px;
	text-align: center;
	margin: 15px 0 0;

}

.team-section .team-items {

	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.team-section .team-items .item {
	flex-basis: calc(25% - 30px);
	max-width: calc(25% - 30px);
	transition: all .5s ease;
	margin-bottom: 40px;
}

.team-section .team-items .item img {
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section .team-items .item .inner {
	position: relative;
	z-index: 11;
	padding: 0 15px;
}

.team-section .team-items .item .inner .info {
	background-color: #FFE79A;
	text-align: center;
	padding: 20px 15px;
	border-radius: 8px;
	transition: all .5s ease;
	margin-top: -40px;
}

.team-section .team-items .item:hover .info {
	transform: translateY(-20px);
}

.team-section .team-items .item:hover {
	transform: translateY(-10px);
}

.team-section .team-items .item .inner .info h5 {
	margin: 0;
	font-size: 17px;
	letter-spacing: 0.02em;
	color: #352103;
}

.team-section .team-items .item .inner .info p {
	font-size: 16px;
	letter-spacing: 1px;
	color: #cc5d0e;
	margin: 10px 0 0;
}

.team-section .team-items .item .inner .info .social-links {
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a {
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	color: #352103;
	border-radius: 50%;
	margin: 0 2px;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	transition: all .5s ease;
}


/* Input form*/
.container {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.contact-section {
	background: linear-gradient(rgba(0, 0, 0, 0.6)rgba(0, 0, 0, 0.9));
	background-image: url(../img/img-contact/mads-schmidt-rasmussen-6YmzwamGzCg-unsplash.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	padding-bottom: 2%;


}

.contact-section .container h2 {
	text-align: center;
	text-decoration: underline;
	text-underline-position: under;
	color: #5E6472;
	letter-spacing: 2px;
	margin-top: 35px;
}

.contact-section .container p {
	text-align: center;
	color: #5E6472;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3%;
	letter-spacing: 3px;

}

.contact-form i.fa {
	font-size: 22px;
	padding: 3%;
	/* border-radius: 80%; */
	background-color: none;
	margin: 2%;
	cursor: pointer;
	/* border: 2px solid rgb(190, 190, 190); */
	color: #5E6472;
}

.contact-form i.fa:hover {
	cursor: pointer;
	/* border: 2px solid #fff; */
	color: #000;
}

.contact-form {
	display: grid;
	grid-template-columns: auto auto;

}

.form-info {

	font-size: 16px;
	font-style: italic;
	color: #5E6472;
	letter-spacing: 2px;

}

.contact-items {
	display: flex;
	flex-direction: column;
}

form {
	margin-top: 20px;
	margin-right: -99px;
	margin-left: 140px;
}


input {
	padding: 10px;
	margin: 10px;
	width: 70%;
	background-color: #5E6472;
	border: none;
	outline: none;
}

input::placeholder {
	color: #fff;
}


textarea {
	padding: 10px;
	margin: 10px;
	width: 70%;
	background-color: #5E6472;
	border: none;
	outline: none;

}

textarea::placeholder {
	color: #fff;
}

.submit {
	width: 40%;
	background: #5E6472;
	padding: 4px;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 33px;
	text-align: center;
	cursor: pointer;
	margin-left: 2px;
	margin-left: 31%;
	/* border: 2px solid rgb(190, 190, 190); */
	color: #fff;
	border: none;
}

.submit:hover {
	border: 1px solid #000;
	color: #fff;
	cursor: pointer;
}


.team-section .team-items .item .inner .info .social-links a:hover {
	box-shadow: 0 0 10px #000;
}

/*responsive*/

@media(max-width:1200px) {
	.contact-items {
		margin-left: 20px;
		padding-left: 20px;
	}

	.team-section .team-items .item .inner .info h5 {
		font-size: 12px;
	}
}


@media(max-width: 991px) {
	.team-section .team-items .item {
		flex-basis: calc(50% - 30px);
		max-width: calc(50% - 30px);

	}

	.contact-items {
		margin-left: 20px;
		padding-left: 20px;
	}
}

@media(max-width: 767px) {
	.team-section .team-items .item {
		flex-basis: calc(100%);
		max-width: calc(100%);

	}


	.container {
		max-width: 50%;
	}

	.contact-section .container p {
		display: none;
	}


}

@media(max-width: 576px) {
	.container {
		max-width: 80%;

	}

	.contact-section {
		background-image: none;
	}

	.team-section .team-items .item .inner .info h5 {
		font-size: 20px;
	}



}